<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.nypr.cordova.hockeyappplugin"
    version="0.1.1">
    <name>Device</name>
    <description>HockeyApp Plugin</description>
    <license>Apache 2.0</license>
    <keywords>hockeyapp,crash reporting,update</keywords>
    <repo>git@git.wnyc.net:mobile/cordova/cordova-plugin-hockeyapp.git</repo>

    <js-module src="www/hockeyapp.js" name="HockeyApp">
      <clobbers target="hockeyapp"/>
    </js-module>

    <preference name="HOCKEY_APP_ID" />

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="HockeyAppPlugin" >
                <param name="android-package" value="org.nypr.cordova.hockeyappplugin.HockeyAppPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <source-file src="platforms/android/res/values/hockeyappplugin.xml" target-dir="res/values" />
        <config-file target="res/values/hockeyappplugin.xml" parent="/*">
          <string name="hockey_app_id">$HOCKEY_APP_ID</string>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.INTERNET" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity android:name="net.hockeyapp.android.UpdateActivity" />
        </config-file>

        <source-file src="src/android/HockeyAppPlugin.java" target-dir="src/org/nypr/cordova/hockeyappplugin/" />
        <source-file src="src/android/HockeySDK-3.5.0.jar" target-dir="libs" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="HockeyAppPlugin">
                <param name="ios-package" value="HockeyAppPlugin" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <dependency id="org.nypr.cordova.nslogger-cocoalumberjack-connector-plugin" url="https://github.com/wnyc/cordova-plugin-nslogger-cocoalumberjack-connector.git"  />

        <header-file src="src/ios/HockeyAppPlugin.h" />

        <source-file src="src/ios/HockeyAppPlugin.m" />

        <resource-file src="src/ios/HockeySDK.embeddedframework/Resources/HockeySDKResources.bundle" />

        <framework src="src/ios/HockeySDK.embeddedframework/HockeySDK.framework" custom="true"/>
        <framework src="AssetsLibrary.framework" />
        <framework src="CoreText.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="Foundation.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="QuickLook.framework" />
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="UIKit.framework" />
        <framework src="QuickLook.framework" />
        <framework src="libc++.tbd" />
    </platform>
</plugin>
